name: Build and release
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths:
      - 'main.go'
      - 'go.mod'
      - '.github/workflows/build-and-release.yml'
    tags:
      - v*
  pull_request:
    branches:
      - main

permissions:
  contents: write
  checks: write
  pull-requests: write
  packages: write

concurrency:
  group: build-and-release
  cancel-in-progress: true

jobs:
  build-and-release:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
        with:
          go-version: 1.22.1

      # Install dependencies
      - name: Install dependencies
        run: go mod download

      # Build
      - name: Build macOS ARM64
        run: |
          GOOS=darwin GOARCH=arm64 go build -o main.go -o llamalink-macos-arm64
          echo "macOS ARM64 build completed" >> "$GITHUB_STEP_SUMMARY"

      - name: Build Linux
        run: |
          GOOS=linux GOARCH=amd64 go build -o main.go -o llamalink-linux-amd64
          GOOS=linux GOARCH=arm64 go build -o main.go -o llamalink-linux-arm64
          echo "Linux build completed" >> "$GITHUB_STEP_SUMMARY"

      - name: Upload artefacts
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: llamalink
          path: |
            llamalink-macos-arm64
            llamalink-linux-amd64
            llamalink-linux-arm64

      # Bump version
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          pre_release_branches: dev

      # Publish
      - name: Create a GitHub release
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
          generateReleaseNotes: true
          allowUpdates: true
          prerelease: ${{ startsWith(github.ref, 'refs/heads/dev') }}
          artifacts: |
            llamalink-macos-arm64
            llamalink-linux-amd64
            llamalink-linux-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
